body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:873px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:611px;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:52px;
  width:843px;
  height:611px;
}
#u338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:527px;
  width:24px;
  height:21px;
}
#u339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:490px;
  width:24px;
  height:21px;
}
#u340_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:455px;
  width:24px;
  height:21px;
}
#u341_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:566px;
  width:24px;
  height:21px;
}
#u342_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:17px;
  width:383px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  white-space:nowrap;
}
#u344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:733px;
  width:199px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:577px;
  width:0px;
  height:0px;
}
#u346_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u346_seg1 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-4px;
  width:8px;
  height:177px;
}
#u346_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:165px;
  width:21px;
  height:8px;
}
#u346_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:160px;
  width:18px;
  height:18px;
}
#u346_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:76px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
